

  <!-- <div class="header">
    <img [src]="'assets/img/autobusLOGO.png'" width="150px" height="80px"/>
  </div> -->
<div class="topnav">
    <img id="logo"[src]="'assets/img/autobusLOGO.png'"/>
    <a routerLink="/landing">Home</a>
    <a  *ngIf="!isLoggedIn" routerLink="/register" style="float:right">Registro</a>
    <a  *ngIf="!isLoggedIn" routerLink="/login" style="float:right">Iniciar sesión</a>
   
    <a *ngIf="isLoggedIn"  routerLink="/profile">{{username}}</a>
    <a *ngIf="isLoggedIn" href style="float:right" (click)="logout()">Cerrar sesión</a>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
      <!-- <div class="card">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div> -->
    </div>
    <div class="rightcolumn">
     
  </div>
  
  <div class="footer">
    <p>Intranet © 2021</p>
  </div>


