body {
  /* font-family: Arial; */
  padding: 10px;
  background: #f1f1f1;
  margin: 0;
  margin-bottom: 40px;
}
html {
  min-height: 100%;
  position: relative;
}
#logo {
  float:left;
  margin:0;
  width: 150px;
  height: 80px;
}
.dropdown-menu{
  background-color: #8A0917;
}
a.dropdown-toggle{
  background-color: #8A0917;
}
a{
  background-color: #8A0917;

}
.navbar {
    /* overflow: hidden; */
    background-image: linear-gradient(to bottom right, #8A0917, rgb(129, 9, 0));
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  
  /* Style the topnav links */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown-toggle{
    background-color: #8A0917;
  }
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
    
  }
  .navbar a:focus {
    background-color: #8A0917;
    color: black;
    font-weight: bold;
    border-radius: 10px;
  }
  .footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 99%;
    /* margin-left: 10px; */
    text-align: center;
    background: #8A0917;
    margin-top: 20px;
    border-radius: 10px;
    color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  @media screen and (max-width: 400px) {
    #logo{
      float: right;
      width: 100%;
    }
    .navbar a {
      float: none;
      width: 100%;
    }
  }