/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: airbnbcerealbook;
    src: url(airbnbcerealbook.ttf);
  }
*{
    box-sizing: border-box;
  }
  
  body {
    font-family: airbnbcerealbook;
    padding-top: 10px;
    background: #f1f1f1;
    margin: 0;
    margin-bottom: 40px;
  }
html {
    min-height: 100%;
    position: relative;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }